nav h1{
    color: white;
    background-color: darkgray;
    border-radius: 10px;
    width: 200px;
    padding: 10px 0;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    justify-content: space-between;
    /* background-color: grey; */
    border-radius: 10px;
    width: 100%;

}
nav .bar{
    display: flex;
    justify-content: end;
    align-items: center; 
    color: white;
    margin-right: 19px;
    padding: 10px;
}
nav .nav-items{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 50%;
    color: white;
    font-size: 20px;
}
nav .nav-items-zero{
    display: none;
}
nav .nav-items-mob{
    z-index: 99999;
    list-style: none;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
    width: calc(100% -20px);
    height: calc(100vh - 127px);
    position: absolute;
    right: 8px;
    top: 122px;
    left: 8px;
    border-radius: 10px;
    font-size: 25px;
}



/*---------------------------*/

@media only screen and (min-width: 1350px) {
    nav .bar{
        display: none;
    }
    nav .nav-items-mob{
        display: none;
    }
}

@media only screen and (max-width: 1350px) {
    nav .nav-items{
        display: none;
    }
}
