.Slider3D:has(.container) {
    height: 45vh;
    font-family: "Inter", sans-serif;
}
  

.Slider3D .container {
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
gap: 3em;
overflow: hidden;
position: relative;
/* background: rgb(59 130 246); */
}

.Slider3D .container::before {
content: "";
width: 100%;
height: 100%;
position: absolute;
/* background: radial-gradient(circle, #dbeafe 10%, transparent 11%); */
background-size: 1em 1em;
opacity: 0.5;
inset: 0;
z-index: 0;
}

.Slider3D .container > * {
z-index: 1;
}

.Slider3D .component-header {
position: relative;
}

.Slider3D .component-header button {
--wh: 3em;

width: var(--wh);
height: var(--wh);
background: var(
    --matchBg,
    linear-gradient(to bottom right, #050708, #303339)
);
border: none;
outline: none;
border-radius: 50%;
position: absolute;
top: 0;
left: calc(100% + 2em);
cursor: pointer;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Slider3D .component-header button::before {
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--txtBg);
mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 18 2.5-2.5M18 6H9m9 0v9m0-9-6.5 6.5' stroke='%231C274C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
mask-size: 60%;
mask-repeat: no-repeat;
mask-position: center;
}

.Slider3D .component-header h2 {
text-align: center;
color: transparent;
position: relative;
font-size: 2em;
font-weight: 800;
font-style: italic;
background: var(
    --matchBg,
    linear-gradient(to bottom right, #050708, #303339)
);
background-clip: text;
filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.1));
}

.Slider3D .themes ul {
display: flex;
gap: 0.8em;
position: relative;
--wh: 1.2em;
}

.Slider3D .themes ul::before {
content: "";
width: var(--wh);
height: var(--wh);
transform: scale(1.1);
box-shadow: 0px 0px 0px 2px #fff;
position: absolute;
inset: 0;
left: var(--posX, 0);
border-radius: 50%;
transition: 0.3s;
transition-timing-function: (0.23, 1, 0.32, 1.2);
}

.Slider3D .themes ul li {
width: var(--wh);
height: var(--wh);
border-radius: 50%;
list-style: none;
cursor: pointer;
z-index: 1;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px){
    .Slider3D  .component-header h2{
    font-size: 1.5em;
}

.Slider3D .component-header button{
    --wh: 2em;
}
}










.Slider3D .container{
    &[data-theme='light']{
        --bg: linear-gradient(to bottom right, #fff, #cccccc);
        --txtBg: linear-gradient(to bottom right,#93c5fd, #1e3a8a);
        --borderClr: rgb(255, 255, 255);
    }

    &[data-theme='dark']{
        --bg: linear-gradient(to bottom right, #1e2022, #323439);
        --txtBg: linear-gradient(
        to bottom right,
        #d4d4d8, #52525b
        );
        --borderClr: rgb(65, 65, 65);
    }



    &[data-theme='custom']{
        --bg: linear-gradient(to bottom right, #ccfbf1, #60a5fa);
        --txtBg: linear-gradient(to bottom right,#6996f8, #1e3a8a);
        --borderClr: rgba(230, 230, 230, 0.5);
    }
}

.Slider3D .slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: clamp(22rem, 90%, 64rem);
    height: 20rem;
    margin: 0 auto;
}

.Slider3D .slider{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 500px;
}

.Slider3D .slide{
    width: clamp(8rem, 10rem, 25rem);
    height: clamp(10rem, 12rem, 27rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid var(--borderClr);
    transition: 0.5s;
    background: var(--bg);
    transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}
.Slider3D .slider .slide img{
    width: 90%;
}
.Slider3D .slide span{
    text-align: center;
    /* position: absolute;
    border-radius: inherit;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    background-image: var(--txtBg);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    color: transparent; */
}

.Slider3D .slider-buttons{
    display: flex;
    gap: 1.5rem;
    z-index: 1;
}

.Slider3D .slider-buttons button{
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: var(--bg);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Slider3D .slider-buttons button::before{
    content: '';
    width: 80%;
    height: 80%;
    background: var(--txtBg);
    position: absolute;
    border-radius: inherit;
    transition: .3s;
    opacity: .5;
}

.Slider3D .slider-buttons button:hover::before{
    opacity: 1;
}

.Slider3D .slider-buttons button:nth-of-type(1)::before{
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.29 5.707a1 1 0 0 0-1.415 0L7.988 10.6a2 2 0 0 0 0 2.828l4.89 4.89a1 1 0 0 0 1.415-1.414l-4.186-4.185a1 1 0 0 1 0-1.415l4.182-4.182a1 1 0 0 0 0-1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.29 5.707a1 1 0 0 0-1.415 0L7.988 10.6a2 2 0 0 0 0 2.828l4.89 4.89a1 1 0 0 0 1.415-1.414l-4.186-4.185a1 1 0 0 1 0-1.415l4.182-4.182a1 1 0 0 0 0-1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
}

.Slider3D .slider-buttons button:nth-of-type(2)::before{
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71 18.293a1 1 0 0 0 1.415 0l4.887-4.892a2 2 0 0 0 0-2.828l-4.89-4.89a1 1 0 0 0-1.415 1.414l4.186 4.185a1 1 0 0 1 0 1.415L9.71 16.879a1 1 0 0 0 0 1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71 18.293a1 1 0 0 0 1.415 0l4.887-4.892a2 2 0 0 0 0-2.828l-4.89-4.89a1 1 0 0 0-1.415 1.414l4.186 4.185a1 1 0 0 1 0 1.415L9.71 16.879a1 1 0 0 0 0 1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
}

@media (max-width: 700px){
    .Slider3D .slider-container{
        gap: 0;
    }

    .Slider3D .slide{
        width: clamp(4rem, 6rem, 25rem);
        height: clamp(6rem, 8rem, 27rem);
    }
    
    .Slider3D .slide span{
        font-size: 0.6rem;
    }
}






