@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* -------------------- Vars -------------------- */
:root {
    --dark-color: #2c2c2c;
    --darker-color:#1e1e1e;
    --yellow-color: #FFCA0A;
    --dark-yellow-color: orange;
    --light-color: #eeeeee;
    --transition-time: 0.5s;
}

/* -------------------- General -------------------- */
body{
    margin: 0px;
    display: none;

}
.container_padding{
    padding: 0px 10%;
}
*{
    /* font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal; */
    /* font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; */

    /* font-family: "Inter", "El Messiri", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.bold_title{
    font-weight: bolder;
}
@media (max-width:700px){
    body{
        zoom:0.7;
    }
}
.AR{
    font-family: "El Messiri", sans-serif;

}
.EN{
    font-family: "Montserrat", sans-serif;
}

/* -------------------- Nav Bar -------------------- */
nav{
    background-color: var(--dark-color);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--light-color);
}
nav #resbar i{
    font-size: 25px;
}
nav ul{
    margin: 0px;
}
nav li{
    margin: 0px 10px;
}

nav .dropDown{
    text-align: start;
    position: relative;
    z-index: 99999;
}

nav .dropDown .header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .dropDown *{
    transition: 0.2s;
}
nav .dropDown ul{
    display: flex;
    display: none;
    position: absolute;
    background-color: var(--light-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    width: max-content;
    height: max-content;

    padding: 5px;
}
nav .dropDown:hover ul{
    display: flex;
}
nav .dropDown ul li{
    list-style-type: none;
    color: var(--dark-color);
    cursor: pointer;
    padding: 5px;
    margin: 1px;
    width: 100%;
    border-radius: 5px;

}
nav .dropDown ul li:hover{
    background-color: var(--dark-color);
}
nav .dropDown ul li:hover a{ 
    color: var(--light-color);
}
nav .dropDown ul a{
    color: var(--dark-color);
    text-decoration: none;

}

nav .langButton a{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
nav #navItems i{
    font-size: 14px;
    margin: 0px 10px;
}
.navbar{
    padding: 10px 15%;

}
nav a{
    color: var(--light-color);
}
nav .logo img{
    max-width: 180px;
}
.nav-link{
    color: var(--light-color);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--yellow-color);
}
nav .btn {
    color:var(--yellow-color);
    /* background-color: var(--yellow-color); */
    border-color: var(--yellow-color);
}

nav .btn:hover {
    color:black;
    background-color:var(--yellow-color);
    border-color: var(--yellow-color);
}


/* -------------------- Home Section -------------------- */
#Home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--light-color);
    text-align: center;
    overflow: hidden;
}

/* Slider Background */
.bg-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    animation: slide 15s infinite;
}

/* Animation for changing background images */
@keyframes slide {
    0% { background-image: url('../images/Home1.png'); }
    33% { background-image: url('../images/Home1.png'); }
    66% { background-image: url('../images/Home1.png'); }
    100% { background-image: url('../images/Home1.png'); }
}

/* Text Styling */
#Home h1 {
    font-size: 4rem;
    margin: 0;
}

#Home p {
    font-size: 1.5rem;
    margin: 10px 0 0;
}

/* Add a slight overlay to make the text more visible */
#Home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
#Home .content{
    width: 50%;
}

@media (max-width:700px){
    #Home h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    #Home p {
        font-size: 1rem;
        margin: 10px 0 0;
    }
}

/* -------------------- Services Waste Section -------------------- */
#Services_Waste{
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

#Services_Waste .serviceBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0px;
}
#Services_Waste .image_frame{
    background-color: var(--dark-color);
    padding: 15px;
    border-radius: 20px 0px 20px 0px;
    min-width: 380px;
    flex: 1 1 45%;                 /* Responsive size: grow, shrink, with a base size of 200px */
    margin-bottom: 20px;

}
#Services_Waste .text_frame{
    flex: 1 1 45%;                 /* Responsive size: grow, shrink, with a base size of 200px */
    min-width: 380px;
    margin: 0px 10px;
}
#Services_Waste .text_frame h2{
    font-weight: bolder;
    font-size: 1.5vw;
}
#Services_Waste .text_frame p{
    font-size: 1.3vw;
}
#Services_Waste .image_frame img{
    width: 100%;
    max-height: 380px;
    border-radius: 18px 0px 18px 0px;

}

@media (max-width:1000px){
    #Services_Waste .serviceBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 10px 0px; */
    }
    #Services_Waste .serviceBox.reverse{
        flex-direction: column-reverse;
    }
    #Services_Waste .text_frame h2{
        font-size: 25px;
    }
    #Services_Waste .text_frame p{
        font-size: 16px;
    }
}
/* -------------------- Services Electronic Section -------------------- */
#Services_Electronic{
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

#Services_Electronic .serviceBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0px;
}
#Services_Electronic .image_frame{
    background-color: var(--yellow-color);
    padding: 15px;
    border-radius: 20px 0px 20px 0px;
    min-width: 380px;
    flex: 1 1 45%;                 /* Responsive size: grow, shrink, with a base size of 200px */
    margin-bottom: 20px;
}
#Services_Electronic .text_frame{
    flex: 1 1 45%;                 /* Responsive size: grow, shrink, with a base size of 200px */
    min-width: 380px;
    margin: 0px 10px;
}

#Services_Electronic .text_frame h2{
    font-weight: bolder;
    font-size: 1.5vw;
}
#Services_Electronic .text_frame p{
    font-size: 1.3vw;
}
#Services_Electronic .image_frame img{
    width: 100%;
    max-height: 380px;
    border-radius: 18px 0px 18px 0px;

}
@media (max-width:1000px){
    #Services_Electronic .serviceBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 10px 0px; */
    }
    #Services_Electronic .serviceBox.reverse{
        flex-direction: column-reverse;
    }
    #Services_Electronic .text_frame h2{
        font-size: 25px;
    }
    #Services_Electronic .text_frame p{
        font-size: 16px;
    }
}

/* -------------------- Bekya Packages -------------------- */
#Bekya_Packages{
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--light-color);
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

#Bekya_Packages .packageTitle{
    color: var(--yellow-color);
    font-weight: bolder; 
    text-align: center;  
    margin: 40px 0px;
}
#Bekya_Packages .packageBoxContainer{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-wrap: wrap;
}
#Bekya_Packages .packageBoxContainer .package_box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    border-radius: 25px ;
    padding: 50px 50px;
    height: max-content;
    width: 350px;
    margin: 10px 10px;
    transition: var(--transition-time);
}
#Bekya_Packages .packageBoxContainer .package_box:hover{
    transform: scale(1.05);

}
#Bekya_Packages .packageBoxContainer .package_box h3{
    font-weight: bolder;
}
#Bekya_Packages .packageBoxContainer .package_box .packageImage{
    width: 130px;
}
#Bekya_Packages .packageBoxContainer .package_box .packageFeature{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 395px;
}
#Bekya_Packages .packageBoxContainer .package_box .packageFeature .checkrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px;
}
#Bekya_Packages .packageBoxContainer .package_box .packageFeature .checkrow img{
    width: 15px;
    margin: 5px;
}
#Bekya_Packages .packageBoxContainer .bookNowButton{
    background-color: var(--yellow-color);
    color: var(--dark-color);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    transition: var(--transition-time);
}
#Bekya_Packages .packageBoxContainer .bookNowButton:hover{
    background-color: var(--dark-yellow-color);
}



/* -------------------- Collected Waste -------------------- */
#Collected_waste{
    min-height: max-content;
    background-color: var(--yellow-color);
    padding-bottom: 50px;
    /* height: 590px; */
    font-family: "Inter", sans-serif;
    

}

#Collected_waste .collected_title{
    color: var(--light-color);
    padding: 50px 0px;
    text-align: center;
}

#Collected_waste .slider-buttons button{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
#Collected_waste .slider-buttons button::before{
    background: black;
}
#Collected_waste  .Slider{
    display: none;
}
#Collected_waste .swiper-slide{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 1.4vw;
    color: var(--dark-color);
}
#Collected_waste .swiper-slide img{
    width: 100%;
}
@media (max-width:800px) {
    #Collected_waste .swiper-slide{
        font-size: 15px;
    }
}
@media (max-width:460px) {
    #Collected_waste  .Slider{
        zoom:0.7;
    }
}
@media (max-width:400px) {
    #Collected_waste .slider-container{
        zoom:0.6;
    }
}
/* -------------------- Events -------------------- */
#Events{
    min-height: 100vh;
    background-color: var(--dark-color);
    padding-bottom: 50px;
}
#Events .eventTitle{
    color: var(--yellow-color);
    font-weight: bolder;
    text-align: center;
    padding: 50px 0px;
}

#Events .swiper-slide{
    display: flex;
    flex-direction: column;
    color: var(--light-color);
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#Events .swiper-slide img{
    height: auto;
}
@media (max-width:700px){
    #Events{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Events .Slider{
        width: 50vh;
    }
}
/* 
@media (max-width:500px){
    #Events{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Events .Slider{
        width: 80vh;
    }
} */

/* -------------------- About -------------------- */
#About{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--light-color);
}

#About p{
    font-size: 1.4vw;
    line-height: 40px;
}
@media(max-width:1300px){
    #About p{
        font-size: 23px;
    } 
}
@media(max-width:1000px){
    #About p{
        font-size: 20px;
    } 
}
/* -------------------- Team -------------------- */
#Team{
    background-color: var(--yellow-color);
    /* display: flex;
    flex-direction: row; */
    padding-bottom: 50px;

}
#Team .teamTitle{
    padding: 50px 0px;
    text-align: center;
}
#Team .teamRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#Team .teamRow .dm-flip-card{
    margin: 10px;
    width: 350px;
    height: 400px;
    border-radius: 20px;
}
#Team .teamRow .dm-flip-card.dark .dm-front-card{
    background-color: var(--darker-color);
    color: var(--light-color);
}
#Team .teamRow .dm-flip-card.light .dm-front-card{
    background-color: white;
    color: var(--datk-color);

}

#Team .teamRow .dm-flip-card .dm-front-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#Team .teamRow .dm-flip-card .dm-front-card .teamMemberContainer{
    overflow: hidden;
    border-radius: 100%;
    padding: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Team .teamRow .dm-flip-card.dark .dm-front-card .teamMemberContainer{
    background-color: var(--dark-color);
}

#Team .teamRow .dm-flip-card.light .dm-front-card .teamMemberContainer{
    background-color: var(--light-color);
}
#Team .teamRow .dm-flip-card .dm-front-card .teamMemberContainer img{
    width: 80%;
}
#Team .teamRow .dm-flip-card .dm-front-card span{
    font-weight: bolder;
}
#Team .teamRow .dm-flip-card .dm-back-card{
    border-radius: 20px;
    background-color: var(--dark-yellow-color);
}

/* -------------------- Sustainability -------------------- */
#Sustainability{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

#Sustainability .calculations{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#Sustainability .calculations .sustain_calculations{
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    margin: 20px 0px;
}
#Sustainability .sustain_description{
    font-size: 1.4vw;
}
@media(max-width:1300px){
    #Sustainability .sustain_description{
        font-size: 1.6vw;
    } 
}
@media(max-width:1000px){
    #Sustainability .sustain_description{
        font-size: 20px;
    } 
}
/* -------------------- Sponsers -------------------- */
#Sponsers{
    background-color: var(--dark-color);
    padding-bottom: 20px;
}
#Sponsers .sponserTitle{
    color: var(--yellow-color);
    text-align: center;
}
#Sponsers .swiper-full .swiper-slide img{
    width: 200px;
    height: auto;
}
#Sponsers .swiper-pagination{
    background-color: var(--light-color);
}
#Sponsers .swiper-pagination-bullet-active{
    background-color: var(--yellow-color);
    
}

/* -------------------- Partners -------------------- */
#Partners{
    background-color: var(--yellow-color);
    padding-bottom: 20px;
}
#Partners .partnerTitle{
    color: var(--dark-color);
    padding: 50px 0px;
    text-align: center;
}

#Partners .swiper-full .swiper-slide {
    width: 200px;
    height: 200px;
    margin: 0px 10px;
}
#Partners .swiper-full .swiper-slide img{
    width: 200px;
    height: auto;
}
#Partners .swiper-pagination{
    background-color: var(--light-color);
}
#Partners .swiper-pagination-bullet-active{
    background-color: var(--yellow-color);
    
}

/* -------------------- Schedule -------------------- */
#Schedule{
    background-color: var(--dark-color);
    background-image: url(../images/Background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: var(--light-color);
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
#Schedule img{
    max-width: 400px;
}
#Schedule .text{
    min-width: 220px;
    max-width: 500px;
}
#Schedule .text button{
    background-color: var(--yellow-color);
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
@media (max-width:1440px) {
    #Schedule .text{
        text-align: center;
    }
}
@media (max-width:570px) {
    #Schedule img{
    
        width: 300px;
    }    
}
/* -------------------- Testimonial -------------------- */
#Testimonials{
    /* height: 100vh; */
    background-color: var(--light-color);
    padding-bottom: 20px;
}
#Testimonials .divTitle{
    color: var(--yellow-color);
    text-align: center;
    padding: 50px 0px;
}
#Testimonials .swiper-full{
    align-items: center;
}
#Testimonials .swiper-full .swiper-slide{
    /* width: 200px;
    height: 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--yellow-color);
}
#Testimonials .swiper-full .swiper-slide img{
    height: auto;
    max-height: 500px;
    border-radius: 10px;
}
#Testimonials .swiper-pagination{
    background-color: var(--light-color);
}
#Testimonials .swiper-pagination-bullet-active{
    background-color: var(--yellow-color);
    
}


/* -------------------- Soon -------------------- */
#Soon{
    /* height: 100vh; */
    background-color: var(--yellow-color);
    padding-bottom: 50px;
}
#Soon .divTitle{
    color: var(--light-color);
    text-align: center;
    padding: 50px 0px;
}
#Soon .soonRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width:700px){
    #Soon .soonRow img{
        width: 20%;
    } 
}

/* -------------------- Footer -------------------- */
#Footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
}
#Footer h3{
    color: var(--yellow-color);
}
#Footer .left{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
#Footer .left .iconRow{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Footer .right{
    display: flex;
    flex-direction: row;
}
#Footer .right .infoBox{
    max-width: 200px;
    margin: 0px 10px;
}
#Footer .right .infoBox .contactRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#Footer .right .infoBox .contactRow img{
    margin: 0px 5px;
}
#Footer .right .infoBox .contactRow a{
    text-decoration: none;
    color: var(--light-color);
    text-wrap: nowrap;
}
@media (max-width:805px){
    #Footer .right{
        flex-direction: column;
    }
}
/* -------------------- Terms -------------------- */
#Terms{
    min-height: 5vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}
#Terms a{
    color: var(--light-color);
    text-decoration: none;
    cursor: pointer;
}
#Terms span{
    margin: 0px 50px;
}